In [2]:
import pandas as pd
import numpy as np

In [69]:
df = pd.read_csv('UCI_Credit_Card.csv')

In [5]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [6]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [9]:
df.shape

(30000, 25)

In [14]:
df.describe

<bound method NDFrame.describe of           ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0          1    20000.0    2          2         1   24      2      2     -1
1          2   120000.0    2          2         2   26     -1      2      0
2          3    90000.0    2          2         2   34      0      0      0
3          4    50000.0    2          2         1   37      0      0      0
4          5    50000.0    1          2         1   57     -1      0     -1
5          6    50000.0    1          1         2   37      0      0      0
6          7   500000.0    1          1         2   29      0      0      0
7          8   100000.0    2          2         2   23      0     -1     -1
8          9   140000.0    2          3         1   28      0      0      2
9         10    20000.0    1          3         2   35     -2     -2     -2
10        11   200000.0    2          3         2   34      0      0      2
11        12   260000.0    2          1         2   51     -1     -1     -1
12        13   630000.0    2          2         2   41     -1      0     -1
13        14    70000.0    1          2         2   30      1      2      2
14        15   250000.0    1          1         2   29      0      0      0
15        16    50000.0    2          3         3   23      1      2      0
16        17    20000.0    1          1         2   24      0      0      2
17        18   320000.0    1          1         1   49      0      0      0
18        19   360000.0    2          1         1   49      1     -2     -2
19        20   180000.0    2          1         2   29      1     -2     -2
20        21   130000.0    2          3         2   39      0      0      0
21        22   120000.0    2          2         1   39     -1     -1     -1
22        23    70000.0    2          2         2   26      2      0      0
23        24   450000.0    2          1         1   40     -2     -2     -2
24        25    90000.0    1          1         2   23      0      0      0
25        26    50000.0    1          3         2   23      0      0      0
26        27    60000.0    1          1         2   27      1     -2     -1
27        28    50000.0    2          3         2   30      0      0      0
28        29    50000.0    2          3         1   47     -1     -1     -1
29        30    50000.0    1          1         2   26      0      0      0
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29970  29971   360000.0    1          1         1   34     -1     -1     -1
29971  29972    80000.0    1          3         1   36      0      0      0
29972  29973   190000.0    1          1         1   37      0      0      0
29973  29974   230000.0    1          2         1   35      1     -2     -2
29974  29975    50000.0    1          2         1   37      1      2      2
29975  29976   220000.0    1          2         1   41      0      0     -1
29976  29977    40000.0    1          2         2   47      2      2      3
29977  29978   420000.0    1          1         2   34      0      0      0
29978  29979   310000.0    1          2         1   39      0      0      0
29979  29980   180000.0    1          1         1   32     -2     -2     -2
29980  29981    50000.0    1          3         2   42      0      0      0
29981  29982    50000.0    1          2         1   44      1      2      2
29982  29983    90000.0    1          2         1   36      0      0      0
29983  29984    20000.0    1          2         1   44     -2     -2     -2
29984  29985    30000.0    1          2         2   38     -1     -1     -2
29985  29986   240000.0    1          1         2   30     -2     -2     -2
29986  29987   360000.0    1          1         2   35     -1     -1     -2
29987  29988   130000.0    1          1         2   34      0      0      0
29988  29989   250000.0    1          1         1   34      0      0      0
29989  29990   150000.0    1          1         2   35     -1     -1     -1
29990  29991   140000.0    1          2         1   41      0      0      0
29991  29992   210000.0    1          2         1   34      3      2      2
29992  29993    10000.0    1          3         1   43      0      0      0
29993  29994   100000.0    1          1         2   38      0     -1     -1
29994  29995    80000.0    1          2         2   34      2      2      2
29995  29996   220000.0    1          3         1   39      0      0      0
29996  29997   150000.0    1          3         2   43     -1     -1     -1
29997  29998    30000.0    1          2         2   37      4      3      2
29998  29999    80000.0    1          3         1   41      1     -1      0
29999  30000    50000.0    1          2         1   46      0      0      0

       PAY_4             ...              BILL_AMT4  BILL_AMT5  BILL_AMT6  \
0         -1             ...                    0.0        0.0        0.0
1          0             ...                 3272.0     3455.0     3261.0
2          0             ...                14331.0    14948.0    15549.0
3          0             ...                28314.0    28959.0    29547.0
4          0             ...                20940.0    19146.0    19131.0
5          0             ...                19394.0    19619.0    20024.0
6          0             ...               542653.0   483003.0   473944.0
7          0             ...                  221.0     -159.0      567.0
8          0             ...                12211.0    11793.0     3719.0
9         -2             ...                    0.0    13007.0    13912.0
10         0             ...                 2513.0     1828.0     3731.0
11        -1             ...                 8517.0    22287.0    13668.0
12        -1             ...                 6500.0     6500.0     2870.0
13         0             ...                66782.0    36137.0    36894.0
14         0             ...                59696.0    56875.0    55512.0
15         0             ...                28771.0    29531.0    30211.0
16         2             ...                18338.0    17905.0    19104.0
17        -1             ...                70074.0     5856.0   195599.0
18        -2             ...                    0.0        0.0        0.0
19        -2             ...                    0.0        0.0        0.0
20         0             ...                20616.0    11802.0      930.0
21        -1             ...                    0.0      632.0      316.0
22         2             ...                44006.0    46905.0    46012.0
23        -2             ...                  560.0        0.0        0.0
24        -1             ...                 5398.0     6360.0     8292.0
25         0             ...                28967.0    29829.0    30046.0
26        -1             ...                  -57.0      127.0     -189.0
27         0             ...                17878.0    18931.0    19617.0
28        -1             ...                 2040.0    30430.0      257.0
29         0             ...                17907.0    18375.0    11400.0
...      ...             ...                    ...        ...        ...
29970      0             ...                49005.0     8676.0    19487.0
29971      0             ...                69674.0    71070.0    73612.0
29972      0             ...                29223.0    19616.0   148482.0
29973     -2             ...                    0.0        0.0        0.0
29974      2             ...                 2846.0     1585.0     1324.0
29975     -1             ...                 5924.0     1759.0     1824.0
29976      2             ...                51259.0    47151.0    46934.0
29977      0             ...               141695.0   144839.0   147954.0
29978      0             ...               219409.0   216540.0   210675.0
29979     -2             ...                    0.0        0.0        0.0
29980      0             ...                50360.0    19971.0    19694.0
29981      2             ...                28192.0    22676.0    14647.0
29982      0             ...                11328.0    12036.0    14329.0
29983     -2             ...                 2882.0     9235.0     1719.0
29984     -1             ...                 1993.0     1907.0     3319.0
29985     -2             ...                    0.0        0.0        0.0
29986     -2             ...                    0.0        0.0        0.0
29987      0             ...               108047.0    93708.0    97353.0
29988      0             ...               245750.0   175005.0   179687.0
29989     -1             ...                  780.0        0.0        0.0
29990      0             ...               138262.0    49675.0    46121.0
29991      2             ...                 2500.0     2500.0     2500.0
29992     -2             ...                    0.0        0.0        0.0
29993      0             ...                70626.0    69473.0    55004.0
29994      2             ...                77519.0    82607.0    81158.0
29995      0             ...                88004.0    31237.0    15980.0
29996     -1             ...                 8979.0     5190.0        0.0
29997     -1             ...                20878.0    20582.0    19357.0
29998      0             ...                52774.0    11855.0    48944.0
29999      0             ...                36535.0    32428.0    15313.0

       PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  \
0           0.0     689.0       0.0       0.0       0.0       0.0
1           0.0    1000.0    1000.0    1000.0       0.0    2000.0
2        1518.0    1500.0    1000.0    1000.0    1000.0    5000.0
3        2000.0    2019.0    1200.0    1100.0    1069.0    1000.0
4        2000.0   36681.0   10000.0    9000.0     689.0     679.0
5        2500.0    1815.0     657.0    1000.0    1000.0     800.0
6       55000.0   40000.0   38000.0   20239.0   13750.0   13770.0
7         380.0     601.0       0.0     581.0    1687.0    1542.0
8        3329.0       0.0     432.0    1000.0    1000.0    1000.0
9           0.0       0.0       0.0   13007.0    1122.0       0.0
10       2306.0      12.0      50.0     300.0    3738.0      66.0
11      21818.0    9966.0    8583.0   22301.0       0.0    3640.0
12       1000.0    6500.0    6500.0    6500.0    2870.0       0.0
13       3200.0       0.0    3000.0    3000.0    1500.0       0.0
14       3000.0    3000.0    3000.0    3000.0    3000.0    3000.0
15          0.0    1500.0    1100.0    1200.0    1300.0    1100.0
16       3200.0       0.0    1500.0       0.0    1650.0       0.0
17      10358.0   10000.0   75940.0   20000.0  195599.0   50000.0
18          0.0       0.0       0.0       0.0       0.0       0.0
19          0.0       0.0       0.0       0.0       0.0       0.0
20       3000.0    1537.0    1000.0    2000.0     930.0   33764.0
21        316.0     316.0       0.0     632.0     316.0       0.0
22       2007.0    3582.0       0.0    3601.0       0.0    1820.0
23      19428.0    1473.0     560.0       0.0       0.0    1128.0
24       5757.0       0.0    5398.0    1200.0    2045.0    2000.0
25       1973.0    1426.0    1001.0    1432.0    1062.0     997.0
26          0.0    1000.0       0.0     500.0       0.0    1000.0
27       1300.0    1300.0    1000.0    1500.0    1000.0    1012.0
28       3415.0    3421.0    2044.0   30430.0     257.0       0.0
29       1500.0    1500.0    1000.0    1000.0    1600.0       0.0
...         ...       ...       ...       ...       ...       ...
29970   52951.0   64535.0    8907.0      53.0   19584.0   16080.0
29971    2395.0    2500.0    2530.0    2556.0    3700.0    3000.0
29972    2000.0    3869.0   25128.0   10115.0  148482.0    4800.0
29973       0.0       0.0       0.0       0.0       0.0       0.0
29974       0.0    3000.0       0.0       0.0    1000.0    1000.0
29975    8840.0    6643.0    5924.0    1759.0    1824.0    7022.0
29976    4000.0       0.0    2000.0       0.0    3520.0       0.0
29977    7000.0    7000.0    5500.0    5500.0    5600.0    5000.0
29978   10029.0    9218.0   10029.0    8049.0    8040.0   10059.0
29979       0.0       0.0       0.0       0.0       0.0       0.0
29980   10000.0    4000.0    5000.0    3000.0    4500.0    2000.0
29981    2300.0    1700.0       0.0     517.0     503.0     585.0
29982    1500.0    1500.0    1500.0    1200.0    2500.0       0.0
29983    2890.0    2720.0    2890.0    9263.0    1824.0    1701.0
29984     923.0    2977.0    1999.0    3057.0    3319.0    1000.0
29985       0.0       0.0       0.0       0.0       0.0       0.0
29986       0.0       0.0       0.0       0.0       0.0       0.0
29987    3000.0    2000.0   93000.0    4000.0    5027.0    4005.0
29988   65000.0    8800.0    9011.0    6000.0    7000.0    6009.0
29989    9054.0       0.0     783.0       0.0       0.0       0.0
29990    6000.0    7000.0    4228.0    1505.0    2000.0    2000.0
29991       0.0       0.0       0.0       0.0       0.0       0.0
29992    2000.0       0.0       0.0       0.0       0.0       0.0
29993    2000.0  111784.0    4000.0    3000.0    2000.0    2000.0
29994    7000.0    3500.0       0.0    7000.0       0.0    4000.0
29995    8500.0   20000.0    5003.0    3047.0    5000.0    1000.0
29996    1837.0    3526.0    8998.0     129.0       0.0       0.0
29997       0.0       0.0   22000.0    4200.0    2000.0    3100.0
29998   85900.0    3409.0    1178.0    1926.0   52964.0    1804.0
29999    2078.0    1800.0    1430.0    1000.0    1000.0    1000.0

       default.payment.next.month
0                               1
1                               1
2                               0
3                               0
4                               0
5                               0
6                               0
7                               0
8                               0
9                               0
10                              0
11                              0
12                              0
13                              1
14                              0
15                              0
16                              1
17                              0
18                              0
19                              0
20                              0
21                              1
22                              1
23                              1
24                              0
25                              0
26                              1
27                              0
28                              0
29                              0
...                           ...
29970                           0
29971                           0
29972                           0
29973                           1
29974                           1
29975                           0
29976                           1
29977                           0
29978                           0
29979                           0
29980                           0
29981                           0
29982                           1
29983                           0
29984                           0
29985                           0
29986                           0
29987                           0
29988                           0
29989                           0
29990                           0
29991                           1
29992                           0
29993                           0
29994                           1
29995                           0
29996                           0
29997                           1
29998                           1
29999                           1

[29932 rows x 25 columns]>

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29932 entries, 0 to 29999
Data columns (total 25 columns):
ID                            29932 non-null int64
LIMIT_BAL                     29932 non-null float64
SEX                           29932 non-null int64
EDUCATION                     29932 non-null int64
MARRIAGE                      29932 non-null int64
AGE                           29932 non-null int64
PAY_0                         29932 non-null int64
PAY_2                         29932 non-null int64
PAY_3                         29932 non-null int64
PAY_4                         29932 non-null int64
PAY_5                         29932 non-null int64
PAY_6                         29932 non-null int64
BILL_AMT1                     29932 non-null float64
BILL_AMT2                     29932 non-null float64
BILL_AMT3                     29932 non-null float64
BILL_AMT4                     29932 non-null float64
BILL_AMT5                     29932 non-null float64
BILL_AMT6                     29932 non-null float64
PAY_AMT1                      29932 non-null float64
PAY_AMT2                      29932 non-null float64
PAY_AMT3                      29932 non-null float64
PAY_AMT4                      29932 non-null float64
PAY_AMT5                      29932 non-null float64
PAY_AMT6                      29932 non-null float64
default.payment.next.month    29932 non-null int64
dtypes: float64(13), int64(12)
memory usage: 5.9 MB

In [7]:
df["EDUCATION"].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

In [13]:
df['MARRIAGE'].value_counts()

2    15954
1    13655
3      323
Name: MARRIAGE, dtype: int64

In [70]:
df.query('MARRIAGE!=0', inplace=True)
df.query('EDUCATION!=0', inplace=True)

In [42]:
df.shape

(29932, 25)

In [17]:
pd.crosstab(index = df["default.payment.next.month"], columns = [df["SEX"], df["MARRIAGE"], df["EDUCATION"]])

SEX                            1                                              \
MARRIAGE                       1                            2
EDUCATION                      1     2    3   4   5   6     1     2    3   4
default.payment.next.month
0                           1300  1727  745  16  44  10  2127  2194  665  21
1                            390   643  303   2   4   4   506   746  229   2

SEX                        ...    2
MARRIAGE                   ...    2              3
EDUCATION                  ...    3   4   5  6   1   2   3  4  5  6
default.payment.next.month ...
0                          ...  792  43  74  7  17  74  51  2  2  2
1                          ...  223   2   7  3   3  25  16  0  0  0

[2 rows x 35 columns]

In [71]:
from sklearn.preprocessing import OneHotEncoder

In [72]:
enc= OneHotEncoder()

In [43]:
#categorical = df[["EDUCATION", "SEX", "MARRIAGE"]]

In [85]:
cat = enc.fit_transform(df[["SEX", "MARRIAGE", "EDUCATION"]])

C:\Users\Dell PC\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [86]:
onehot = pd.DataFrame(cat.toarray())

In [100]:
onehot.columns = ["Male", "Female", "GraduateSchool", "University", "HighSchool", "OtherSchool", "Unknown", "Unknown", "Married", "Single", "Other"]

In [101]:
onehot

,Male,Female,GraduateSchool,University,HighSchool,OtherSchool,Unknown,Unknown,Married,Single,Other
0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
12,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
16,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
17,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
18,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
19,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
20,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
21,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
22,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
23,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
24,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
25,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
27,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
29,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
29902,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29903,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
29904,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29905,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29906,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29907,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29908,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29909,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29910,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29911,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29912,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
29913,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29914,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29915,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29916,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29917,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29918,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29919,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29920,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29921,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29922,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29923,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29924,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
29925,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
29926,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29927,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
29928,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
29929,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29930,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
29931,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [113]:
df.reset_index(inplace = True)
df1 = pd.concat([df,onehot], axis=1)
df1 = df1.drop(["SEX", "MARRIAGE", "EDUCATION"], axis=1)

In [103]:
df1.isnull().sum()

ID                            68
LIMIT_BAL                     68
AGE                           68
PAY_0                         68
PAY_2                         68
PAY_3                         68
PAY_4                         68
PAY_5                         68
PAY_6                         68
BILL_AMT1                     68
BILL_AMT2                     68
BILL_AMT3                     68
BILL_AMT4                     68
BILL_AMT5                     68
BILL_AMT6                     68
PAY_AMT1                      68
PAY_AMT2                      68
PAY_AMT3                      68
PAY_AMT4                      68
PAY_AMT5                      68
PAY_AMT6                      68
default.payment.next.month    68
Male                          68
Female                        68
GraduateSchool                68
University                    68
HighSchool                    68
OtherSchool                   68
Unknown                       68
Unknown                       68
Married                       68
Single                        68
Other                         68
dtype: int64

In [105]:
df1.columns

Index(['ID', 'LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5',
       'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default.payment.next.month',
       'Male', 'Female', 'GraduateSchool', 'University', 'HighSchool',
       'OtherSchool', 'Unknown', 'Unknown', 'Married', 'Single', 'Other'],
      dtype='object')

In [108]:
df_numerical = df1[['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']]

In [109]:
df_categorical = df1[['PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5','PAY_6', 'default.payment.next.month', 'Male', 'Female', 'Married', 'Single', 'Other', 'GraduateSchool', 'University', 'HighSchool', 'OtherSchool']]

In [132]:
from sklearn.preprocessing import StandardScaler

In [134]:
scaler = StandardScaler()
cols = df_numerical.columns
df_numerical = scaler.fit_transform(df_numerical)
df_numerical = pd.DataFrame(df_numerical, columns = cols)
df_numerical.head()

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,-1.136377,-1.245239,-0.642995,-0.647780,-0.668381,-0.672841,-0.663455,-0.653139,-0.341854,-0.226997,-0.296596,-0.308036,-0.314197,-0.293448
1,-0.366074,-1.028293,-0.659699,-0.667112,-0.639665,-0.622021,-0.606671,-0.598425,-0.341854,-0.213510,-0.239844,-0.244263,-0.314197,-0.181057
2,-0.597165,-0.160510,-0.299327,-0.494402,-0.482944,-0.450257,-0.417779,-0.392251,-0.250163,-0.191827,-0.239844,-0.244263,-0.248811,-0.012470
3,-0.905286,0.164909,-0.058450,-0.014178,0.031900,-0.233078,-0.187503,-0.157386,-0.221049,-0.169321,-0.228493,-0.237885,-0.244299,-0.237253
4,-0.905286,2.334368,-0.579163,-0.611728,-0.161981,-0.347609,-0.348784,-0.332151,-0.221049,1.333814,0.270926,0.265922,-0.269146,-0.255291

In [136]:
df = pd.concat([df_numerical, df_categorical], axis=1)

In [137]:
df.shape

(30000, 30)

In [138]:
df.head()

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,...,default.payment.next.month,Male,Female,Married,Single,Other,GraduateSchool,University,HighSchool,OtherSchool
0,-1.136377,-1.245239,-0.642995,-0.647780,-0.668381,-0.672841,-0.663455,-0.653139,-0.341854,-0.226997,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,-0.366074,-1.028293,-0.659699,-0.667112,-0.639665,-0.622021,-0.606671,-0.598425,-0.341854,-0.213510,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.597165,-0.160510,-0.299327,-0.494402,-0.482944,-0.450257,-0.417779,-0.392251,-0.250163,-0.191827,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,-0.905286,0.164909,-0.058450,-0.014178,0.031900,-0.233078,-0.187503,-0.157386,-0.221049,-0.169321,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,-0.905286,2.334368,-0.579163,-0.611728,-0.161981,-0.347609,-0.348784,-0.332151,-0.221049,1.333814,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [139]:
df=df.dropna()

In [140]:
from sklearn.model_selection import train_test_split as tts

In [141]:
x=df2['default.payment.next.month']
y=df2.drop(["default.payment.next.month"],axis=1)

In [142]:
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.3,random_state=42)

In [143]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [144]:
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.metrics import confusion_matrix, recall_score

In [147]:
logreg = LogisticRegression()
logreg.fit(x_train,y_train)
y_pred = logreg.predict(x_test)

In [148]:
logreg_score = logreg.score(x_test, y_test)
logreg_crossval = cross_val_score(logreg, x_train, y_train, cv=10).mean()
logreg_recall = recall_score(y_test, y_pred)

In [150]:
dt = DecisionTreeClassifier(random_state = 42)
dt.fit(x_train, y_train)
dt_pred = dt.predict(x_test)

In [152]:
dt_score = dt.score(x_test, y_test)
dt_crossval = cross_val_score(dt, x_train, y_train, cv=10).mean()
dt_recall = recall_score(y_test, dt_pred)